#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}
body {
    font-family: Tahoma;
    background-color: aqua;
    margin: 0;
}
h1 {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid #5200a5;
}


.form-style-5 fieldset {
	border: none;
}

.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}

.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}

form {
    margin: 0 auto;
    background: rgba(0,186,255,0.77);
    width: 420px;
    height: 600px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
	background: #d2d9dd;
}

.form-style-5 select {
	-webkit-appearance: menulist-button;
	height: 35px;
}

button {
    cursor: pointer;
    padding: 10px, 40px;
    height: 50px;
    color: #fff;
    background: #5200a5;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button:hover {
    opacity: .80;
    font-weight: bold;
    transform:scale(1.1);
}